.tarjetas img {
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 5%;
}

.card{
    width: 200px;
    background: none;
    margin-right: 45px;
    border: none;
}

.card-body{
    padding: 10px;
}

.card-nombre{
    font-size: 15px;
    color: var(--light-azure);
    text-shadow: 2px 0px 2px #0007;
}

.card-text{
    font-size: 12px;
    color: white;
    text-shadow: 2px 0px 2px #0007;
}

.titulo{
    font-size: 25px;
    color: white;
    text-shadow: 2px 0px 2px #0007;
    margin-bottom: 40px;
}
